  
   .color_page {
    background-color: rgb(5, 112, 89);
  }

  .color_1 {
    margin:  0 1vw 0 1vw ;
    background-color: rgb(7, 165, 131); 
    border-radius: 12px;  
    box-shadow:  0 0 5px white, -4px 0 8px #e5e8eb;
  }

  .color_2 {
    margin:  0 1vw 0 1vw ;
    background-color: rgb(2, 49, 39);   
    border-radius: 12px; 
  }

   .space_6 {
    padding: 4vw 0 4vw 0 ;      
  }

  .space_8 {
    margin: 4vw 0 0 0  ;
  }  

  .space_10 {
    margin: 3vw 0 0 0  ;
  }  

  .space_12 {
    margin: 4vw 0 0 0  ;
  }  

  .text_1 {
    font-family: Lato , Arial, Helvetica, sans-serif ;
    color : white;    
  }
 
  .text_p1 {
    padding: 1% 0 1% 0%;
    font-size: 4vh ;       
  }  

  .text_p2 {
    padding: 1% 0% 1% 0%;
    color : rgb(241, 189, 19);    
    font-size: 3vh; 
  }  

  .text_p4 {
    padding: 1% 0 1% 0;
    color : rgb(241, 189, 19);    
    font-size: 4vh ;   
  }  

  .text_p3 {
    /* padding: 1% 0 1% 0; */   
    font-size: 6vh ;  
  }  

  .text_p6 {
    padding: 10% 0 1% 0;       
    font-size: 2vh ;  
  }  


  

 


  


  